<label class="input-field-tertiary {{#if className}}{{ className }}{{/if}}">
    <span class="input-field-tertiary__label">{{ label }}</span>
    {{> Input inputClassName="input-field-tertiary__element" align-right=true type=type title=title name=name disabled=disabled }}
</label>
