<main class="error">
    <div class="error__content">
        <div class="error__block">
            <div class="error__code">{{ code }}</div>
            <div class="error__message">{{ message }}</div>
        </div>
        {{> TextButton className="error__button" text="Назад к чатам" page="messenger" url="/" }}
    </div>
</main>
