@import '../../assets/variables';

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: $title-color;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 70px;
    text-align: center;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__code {
    font: $font-large;
  }

  &__message {
    font: $font-big;
  }
}
