.login-page {
  width: 280px;
  min-height: 390px;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
  }

  &__input {
    margin-top: 16px;
  }

  &__footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  }
}
