<div class="input-field-secondary{{#if className}} {{ className }}{{/if}}">
    {{> Input inputClassName="input-field-secondary__element" placeholder=placeholder type=type title=title name=name }}
</div>
