<div class="input-field-primary{{#if className}} {{ className }}{{/if}}">
    <div class="input-field-primary__title">{{ title }}</div>
    {{> Input className="input-field-primary__element" type=type title=title name=name }}
</div>
